* {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.shadow {
  transition: all 300ms ease-in;

  &:hover {
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
    background-color: #f2f2f2;
  }
}